{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
       <a class="btn btn-success" href="/user/homepage/">dashboard</a>
      <div style="background-color:#D5B1D8">
          <a class="navbar-brand" style = " margin-left: 300px; padding-right: 300px;">{{subject.name}}</a>
      </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#admintaskmodal">
      Create New Task
    </button>

    <!-- Modal -->
    <div class="modal fade" id="admintaskmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="adminmodaltitle">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'createtask' %}">
                    {% csrf_token %}
                <h3>
                    Create a new task
                </h3>
              <div class="mb-3">
                <label for="admintaskname" class="form-label">Name</label>
                <input type="text" class="form-control" id="admintaskname" aria-describedby="emailHelp" name="name">
              </div>
                <div>
                <input type="hidden" class="form-control" id="adminsubject" aria-describedby="emailHelp" name="subject" value="{{subject.id}}">
              </div>
                <div class="mb-3">
                <label for="admindescription" class="form-label">Description</label>
                <input type="text" class="form-control" id="admindescription" aria-describedby="emailHelp" name="description">
              </div>
                <div class="mb-3">
                <label for="admindeadline" class="form-label">Deadline</label>
                <input type="date" class="form-control" id="admindeadline" aria-describedby="emailHelp" name="deadline">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-danger" href="/userlogout/">logout</a>
  </div>
</nav>
<div style = "background-color: #CBE7E8;height: 100vh; padding-top: 40px; " >
    <div class = "container">
        <div style="background-color: #D5B1D8; padding: 20px; margin-bottom: 20px;">
            <h5>
                {{subject.description}}
            </h5>
        </div>
         <table class="table">
          <thead>
            <tr>
              <th scope="col">Student Name</th>
              <th scope="col">Task Name</th>
              <th scope="col">Status</th>
              <th scope="col">Deadline</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
              {% for task in tasks %}
               <tr>
                  <th scope="row">
      {{task.student.name}}
    </th>
                   <td>{{task.name}}</td>
                  <td>{{task.status}}</td>
                  <td>{{task.deadline}}</td>
                  <td>{{task.grade}}</td>
                  <td> <a class = "btn btn-success" href="/media/{{task.file}}" target="_blank">
                      View File
                  </a>
                  </td>

                </tr>



        <!-- Modal -->
        <div class="modal fade" id="taskModal{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{task.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                 {{task.description}}
                  <hr>
                    <form method = "post" action="/savetasks/{{task.id}}" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="mb-3">
                        <label for="task-file" class="form-label">Choose File</label>
                        <input type="file" class="form-control" id="task-file" name = "task-file" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Your deadline is at {{task.deadline}}</div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

              </div>
            </div>
          </div>
        </div>
              {% endfor %}


          </tbody>
        </table>

    </div>
</div>







{% endblock%}