{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
        <a class="navbar-brand">MANAGE YOUR TASKS</a>
    <!--<form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
    <a class="btn btn-danger" href="/loginuser/">login</a>
  </div>
</nav>
{% for message in messages %}
<p style="text-align: center">{{message}}</p>
{% endfor %}
<div class="container-fluid" style="position: absolute;height: 470px;">
    <div style="position: absolute;top: 100px;right: 350px;width: 500px;height: 350px;
background-color: #F4BDC5; padding: 40px" class="container">
        <h1 style="text-align: center;color: black">Sign Up</h1>
        <form>
            {% csrf_token %}
            <input class="form-control" placeholder="Name"  type="text"
                    name = "name" style="margin-bottom: 10px">
            <input class="form-control" placeholder="username/email" type="text"
                   name="username" style="margin-bottom: 10px">
            <input class="form-control" placeholder="password" type="password"
                   name="password" style="margin-bottom: 10px">
            <input class="form-control" placeholder="contact no." type="text"
                   name="contactno" style="margin-bottom: 10px">
            <input style="display: block;margin: auto;margin-top: 20px" class="btn btn-success"
                   type="submit" name="" value="CREATE">
        </form>
    </div>
</div>

{% endblock %}