{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Welcome {{username}}</a>
    <a class="btn btn-danger" href="/userlogout/">logout</a>
  </div>
</nav>
<div class= "container">
  <div class="row">
    {% for subject in subjects %}

      <div class="col">
        <div onclick="location.href='{% url 'usertasks' subject.id %}';" style="cursor: pointer;">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{subject.name}}</h5>
            <p class="card-text">{{subject.description}}</p>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>

</div>
{% endblock %}